@import url(https://fonts.googleapis.com/css2?family=Noto+Sans+SC);
/* 全局设置 */
:root {
    // 行内代码颜色
    --code-background-color: #e7e7e7;
}
/* 全局字体 */
:root {
    --sys-font-family: --apple-system, BlinkMacSystemFont, "Segoe UI", "Droid Sans", "Helvetica Neue";
    --zh-font-family: "PingFang SC", "Hiragino Sans GB", "Droid Sans Fallback", "Microsoft YaHei";
    --base-font-family: var(--sys-font-family), var(--zh-font-family), sans-serif;
    --code-font-family: "Jetbrains Mono", Menlo, Monaco, Consolas, "Courier New", monospace;
}
/* 链接 */
@media (min-width: map-get($breakpoints, lg)) {
    .article-list--compact.links {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      background: none;
      box-shadow: none;
      gap: 2rem;
      article {
        background: var(--card-background);
        box-shadow: var(--shadow-l2);
        border-radius: var(--card-border-radius);
      }
    }
}